<div class="footer-academics">
        <div class="columns">
            <ul>
                <li><a href="#">Welcome Message</a></li>
                <li><a href="#">Brief History</a></li>
                <li><a href="#">Objectives and Vision</a></li>
                <li><a href="#">Faculty</a></li>
                <li><a href="#">Staff</a></li>
            </ul>
                
                      
        </div>
        <div class="columns">
                <ul>
                        <li><a href="#">Welcome Message</a></li>
                        <li><a href="#">Brief History</a></li>
                        <li><a href="#">Objectives and Vision</a></li>
                        <li><a href="#">Faculty</a></li>
                        <li><a href="#">Staff</a></li>
                    </ul>      
        </div>
        <div class="columns">
                    <ul>
                        <li><a href="#">Welcome Message</a></li>
                        <li><a href="#">Brief History</a></li>
                        <li><a href="#">Objectives and Vision</a></li>
                        <li><a href="#">Faculty</a></li>
                        <li><a href="#">Staff</a></li>
                    </ul>       
        </div>
        <div class="columns">
                <ul>
                        <li><a href="#">Welcome Message</a></li>
                        <li><a href="#">Brief History</a></li>
                        <li><a href="#">Objectives and Vision</a></li>
                        <li><a href="#">Faculty</a></li>
                        <li><a href="#">Staff</a></li>
                    </ul>       
        </div>
       
        <hr class="myliner">
        <p><a href="">Kwame Nkrumah University of Science and Technology &copy; 2019</a> </p>
        <hr class="bottommyliner">
    </div>
   

   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>