<div class="footer">
        
        
        <p><a href="" style="color:white">Kwame Nkrumah University of Science and Technology &copy; 2019</a> </p>
        
    </div>
   

   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>