<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    

    <link rel="stylesheet" href="css/newstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>

   
    <script src="js/newscript.js"></script>


   

</head>
<body>
    <nav>
        <div class="media">
            <div class="media-left">
                <a href="#" class="media-object"><img src="/img/sph-logo.png" width="100"></a>

            </div>
            <div class="media-body">
                <h4 class="media-heading">School of Public Health</h4>
                <h4 class="m-below">Department of Epidemiology and Biostatistics</h4>
            </div>
        </div>
            
           
            
           
            

        <ul>
               
                <div class="dropdowner">
                        <button class="dropbtner"><a href="/">Home</a></button>

                </div>

                <div class="dropdowner">
                        <button class="dropbtner"><a href="/about">About Us</a>
                          <i <% if (index||academics||admissions||news||research){%> style = "display: none"<%} %> class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-contenter" <% if (index||academics||admissions||news||research){%> style = "display: none"<%} %> >
                         
                          <a class="brief" href="Javascript:void(0)" >Brief History</a>
                          <a class="objectives" href="Javascript:void(0)" >Objective and vision</a>
                          <a class="faculty" href="Javascript:void(0)" >Faculty</a>
                          <a class="students" href="Javascript:void(0)"  >Students life</a>
                        </div>
                </div>

                <div class="dropdowner">
                        <button class="dropbtner"><a href="/academics">Academics</a>
                          <i <% if (index||about||admissions||news||research){%> style = "display: none"<%} %> class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-contenter" <% if (index||about||admissions||news||research){%> style = "display: none"<%} %>>
                          <a class="courses" href="Javascript:void(0)"  >Course schedule</a>
                          <a class="postgraduates" href="Javascript:void(0)"  >Postgraduate courses</a>
                          <a class="students" href="Javascript:void(0)">Student support</a>
                          <a class="short-courses" href="Javascript:void(0)">Short courses</a>
                          <a class="training" href="Javascript:void(0)">Training</a>
                          <a class="workshop" href="Javascript:void(0)">Workshop</a>
                          <a class="calendar" href="Javascript:void(0)">Academic calender</a>
                        </div>
                </div>

                <div class="dropdowner">
                        <button class="dropbtner"><a href="/admissions">Admissions</a>
                          <i <% if (index||academics||about||news||research){%> style = "display: none"<%} %> class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-contenter" <% if (index||academics||about||news||research){%> style = "display: none"<%} %>>
                          <a class="postgraduate" href="Javascript:void(0)">Postgraduate</a>
                          <a class="international" href="Javascript:void(0)">International</a>
                        </div>
                </div>
                <div class="dropdowner">
                        <button class="dropbtner"><a href="/news">News</a></button>

                </div>

                <div class="dropdowner">
                        <button class="dropbtner" id="dropbtner"><a href="/research">Research</a>
                          <i <% if (index||academics||admissions||news||about){%> style = "display: none"<%} %> class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-contenter " <% if (index||academics||admissions||news||about){%> style = "display: none"<%} %>>
                          <a class="supervisors" href="Javascript:void(0)">Supervisors</a>
                          <a class="latest" href="Javascript:void(0)">Latest Research</a>
                          <a class="funding" href="Javascript:void(0)">Funding</a>
                          <button class="dropbtnerin" ><a href="Javascript:void(0)" class="collaboration">Collaborations<i class="fa fa-caret-right" style="margin-left: 5px"></i></a>
                            
                            <div class="dropdown-contenterin">
                                <a class="NPC" href="Javascript:void(0)">National Population Council</a>
                                <a class="GSS" href="Javascript:void(0)">Ghana Statistical Service</a>
                                <a class="GHS" href="Javascript:void(0)">Ghana Health Service</a>
                                <a class="IBS" href="Javascript:void(0)">International Biometric Society (IBS)</a>
                                <a class="TEG" href="Javascript:void(0)">Tropical Epidemiological Group (TEG) - LSHTM</a>
                          </button>

                        </div>
                </div>
            
            <li class="search"><input type="search" placeholder="search..." class="search"><button type="submit"><i class="fa fa-search"></i></button></li>
        
        </ul>
    </nav>

    <script>
    $(document).ready(function(){
      var t = document.getElementById("dropbtnerin");
      var span = document.createElement("span");

      var icon = document.createElement("i");
      icon.className = "fa fa-caret-right";
      span.append(icon);
      t.append(span);

    })
    
    
    </script>