<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    

    <link rel="stylesheet" href="css/newstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>

   
    <script src="js/newscript.js"></script>


   

</head>
<body>
    <nav>
        <div class="media">
            <div class="media-left">
                <a href="#" class="media-object"><img src="/img/sph-logo.png" width="100"></a>

            </div>
            <div class="media-body">
                <h4 class="media-heading">School of Public Health</h4>
                <h4 class="m-below">Department of Epidemiology and Biostatistics</h4>
            </div>
        </div>
            
           
            
           
            

        <ul>
               
                <div class="dropdowner">
                        <button class="dropbtner"><a href="/">Home</a></button>

                </div>

                <div class="dropdowner">
                        <button class="dropbtner"><a href="/about">About Us</a>
                          
                        </button>
                        <div class="dropdown-contenter">
                          <a href="Javascript:void(0)">Welcome message</a>
                          <a href="Javascript:void(0)" >Brief History</a>
                          <a href="Javascript:void(0)" >Objective and vision</a>
                          <a href="Javascript:void(0)" >Faculty</a>
                          <a href="Javascript:void(0)" >Students life</a>
                        </div>
                </div>

                <div class="dropdowner">
                        <button class="dropbtner"><a href="/academics">Academics</a>
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-contenter">
                          <a href="#">Course schedule</a>
                          <a href="#">Postgraduate courses</a>
                          <a href="#">Student support</a>
                          <a href="#">Short courses</a>
                          <a href="#">Training</a>
                          <a href="#">Workshop</a>
                          <a href="#">Academic calender</a>
                        </div>
                </div>

                <div class="dropdowner">
                        <button class="dropbtner"><a href="/admissions">Admissions</a>
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-contenter">
                          <a href="#">Postgraduate</a>
                          <a href="#">International</a>
                        </div>
                </div>
                <div class="dropdowner">
                        <button class="dropbtner"><a href="/news">News</a></button>

                </div>

                <div class="dropdowner">
                        <button class="dropbtner" id="dropbtner"><a href="/research">Research</a>
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-contenter">
                          <a href="#">Supervisors</a>
                          <a href="#">Latest Research</a>
                          <a href="#">Funding</a>
                          <button class="dropbtnerin" ><a href="">Collaborations<i class="fa fa-caret-right" style="margin-left: 5px"></i></a>
                            
                            <div class="dropdown-contenterin">
                                <a href="#">National Population Council</a>
                                <a href="#">Ghana Statistical Service</a>
                                <a href="#">Ghana Health Service</a>
                                <a href="#">International Biometric Society (IBS)</a>
                                <a href="#">Tropical Epidemiological Group (TEG) - LSHTM</a>
                          </button>

                        </div>
                </div>
            
            <li class="search"><input type="search" placeholder="search..." class="search"><button type="submit"><i class="fa fa-search"></i></button></li>
        
        </ul>
    </nav>

    <script>
    $(document).ready(function(){
      var t = document.getElementById("dropbtnerin");
      var span = document.createElement("span");

      var icon = document.createElement("i");
      icon.className = "fa fa-caret-right";
      span.append(icon);
      t.append(span);

    })
    
    
    </script>