<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <title>Document</title>

    <link rel="stylesheet" href="css/newstyle.css">
    <script src="js/newscript.js"></script>


   

</head>
<body>
    <nav>
            <a href="#" class="logo"><img src="/img/sphlogo.png" width="100"></a>

        <ul>
                <div class="dropdown">
                        <button class="dropbtn">Home</button>

                </div>

                <div class="dropdown">
                        <button class="dropbtn">About Us
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="#">Welcome message</a>
                          <a href="#">Brief History</a>
                          <a href="#">Objectives and vision</a>
                          <a href="#">Faculty</a>
                          <a href="#">Staff</a>
                        </div>
                </div>

                <div class="dropdown">
                        <button class="dropbtn">Academics
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="#">Course schedule</a>
                          <a href="#">Undergraduate courses</a>
                          <a href="#">Postgraduate courses</a>
                          <a href="#">Student support</a>
                          <a href="#">Academic calender</a>
                        </div>
                </div>

                <div class="dropdown">
                        <button class="dropbtn">Admissions
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="#">Undergraduate</a>
                          <a href="#">Postgraduate</a>
                          <a href="#">International</a>
                        </div>
                </div>
                <div class="dropdown">
                        <button class="dropbtn">News</button>

                </div>

                <div class="dropdown">
                        <button class="dropbtn">Research
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="#">Supervisors</a>
                          <a href="#">Latest Research</a>
                          <a href="#">Funding</a>
                        </div>
                </div>
            
            <li class="search"><input type="search" placeholder="search..." ><button type="submit"><i class="fa fa-search"></i></button></li>
        
        </ul>
    </nav>
    <div class="notice">
        <p><a href="">2019/2020 Admission Forms</a> are now available! Know more about the requirements for this program? <a href="#">Click here</a></p>
    </div>
    
    <div class="content">
        <hr class="line-divider" size="240">
        <ul>
            <li><a href="">About US</a></li>
            
                
                
            <li class="list"><a href="">Welcome Message</a></li>
            <div class="next" id="next">
                    <li class="nest1" ><a href="">Welcome Message</a></li>
                    <li class="nest1"><a href="">Brief History</a></li>
                    <li class="nest1"><a href="">Objective and Vision</a></li>
                    <li class="nest1"><a href="">Faculty</a></li>
                </div>
            <li class="list"><a href="">Brief History</a></li>
            <div class="next" id="next">
                    <li class="nest1" ><a href="">Welcome Message</a></li>
                    <li class="nest1"><a href="">Brief History</a></li>
                    <li class="nest1"><a href="">Objective and Vision</a></li>
                    <li class="nest1"><a href="">Faculty</a></li>
            </div>
            <li class="list"><a href="">Objective and Vision</a></li>
            <li class="list"><a href="">Faculty</a></li>
            <li class="list"><a href="">Staff</a></li>
            <li class="list"><a href="">Students Life</a></li>
           
        </ul>
    </div>
    <div class="main-content">
        <span class="download-notice">
        <h1 class="head">Head of Department's Welcome Message</h1>
        
       </span>
       <br>
       
    </div>
    <div>
        <span class="getting-started">
            
            <p>
                    On Behalf of the Faculty, Staff and students, I welcome you to the Biostatistics 
                    (BSTT) Department webpage. At the Biostatistics Department, our vision is to become
                     a center of excellence in the development and application of cutting technologies 
                     and tools in health data management and analysis. As a leader of Health informatics
                      in Sub-Saharan Africa, the Department seeks to create an environment for exploring
                       the possibilities of utilizing information communication technologies and Biostatistics
                        tools to push the frontiers of Public health as we walk into the future of health systems
                        . Whether you are a prospective student , researcher, or potential collaborator, we invite 
                        you to come share this vision with us at the School of Public Health.
                </p>
        </span>
    </div>

    <div class="content-right" id="content-right">
          
            <ul>
                <li><a href="">About US</a></li>
            
                
                
                <li class="list"><a href="">Welcome Message</a></li>
                <div class="next" id="next">
                        <li class="nest1" ><a href="">Welcome Message</a></li>
                        <li class="nest1"><a href="">Brief History</a></li>
                        <li class="nest1"><a href="">Objective and Vision</a></li>
                        <li class="nest1"><a href="">Faculty</a></li>
                    </div>
                <li class="list"><a href="">Brief History</a></li>
                <div class="next" id="next">
                        <li class="nest1" ><a href="">Welcome Message</a></li>
                        <li class="nest1"><a href="">Brief History</a></li>
                        <li class="nest1"><a href="">Objective and Vision</a></li>
                        <li class="nest1"><a href="">Faculty</a></li>
                </div>
                <li class="list"><a href="">Objective and Vision</a></li>
                <li class="list"><a href="">Faculty</a></li>
                <li class="list"><a href="">Staff</a></li>
                <li class="list"><a href="">Students Life</a></li>
    
            </ul>
        </div>


        <div class="footer">
            <div class="columns">
                <ul>
                    <li><a href="#">Welcome Message</a></li>
                    <li><a href="#">Brief History</a></li>
                    <li><a href="#">Objectives and Vision</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Staff</a></li>
                </ul>
                    
                          
            </div>
            <div class="columns">
                    <ul>
                            <li><a href="#">Welcome Message</a></li>
                            <li><a href="#">Brief History</a></li>
                            <li><a href="#">Objectives and Vision</a></li>
                            <li><a href="#">Faculty</a></li>
                            <li><a href="#">Staff</a></li>
                        </ul>      
            </div>
            <div class="columns">
                        <ul>
                            <li><a href="#">Welcome Message</a></li>
                            <li><a href="#">Brief History</a></li>
                            <li><a href="#">Objectives and Vision</a></li>
                            <li><a href="#">Faculty</a></li>
                            <li><a href="#">Staff</a></li>
                        </ul>       
            </div>
            <div class="columns">
                    <ul>
                            <li><a href="#">Welcome Message</a></li>
                            <li><a href="#">Brief History</a></li>
                            <li><a href="#">Objectives and Vision</a></li>
                            <li><a href="#">Faculty</a></li>
                            <li><a href="#">Staff</a></li>
                        </ul>       
            </div>
           
            <hr class="myliner">
            <p><a href="">Kwame Nkrumah University of Science and Technology &copy; 2019</a> </p>
            <hr class="bottommyliner">
        </div>
       

       

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    
</body>
</html>