<%- include('includes/head.ejs') %>

<div class="notice">
        <p><a href="">2019/2020 Admission Forms</a> are now available! Know more about the requirements for this program? <a href="#">Click here</a></p>
    </div>
    
    <div class="content">
        <hr class="line-divider" size="240">
        <ul>
            <li><a href="">About US</a></li>
            
                
                
            <li class="list"><a href="">Welcome Message</a></li>
            <div class="next" id="next">
                    <li class="nest1" ><a href="">Welcome Message</a></li>
                    <li class="nest1"><a href="">Brief History</a></li>
                    <li class="nest1"><a href="">Objective and Vision</a></li>
                    <li class="nest1"><a href="">Faculty</a></li>
                </div>
            <li class="list"><a href="">Brief History</a></li>
            <div class="next" id="next">
                    <li class="nest1" ><a href="">Welcome Message</a></li>
                    <li class="nest1"><a href="">Brief History</a></li>
                    <li class="nest1"><a href="">Objective and Vision</a></li>
                    <li class="nest1"><a href="">Faculty</a></li>
            </div>
            <li class="list"><a href="">Objective and Vision</a></li>
            <li class="list"><a href="">Faculty</a></li>
            <li class="list"><a href="">Staff</a></li>
            <li class="list"><a href="">Students Life</a></li>
           
        </ul>
    </div>
    <div class="main-content">
        <span class="download-notice" id="download-notice">
        <h1 class="head">Head of Department's Welcome Message</h1>
        
       </span>
       <br>
       
    </div>
    <div>
        <span class="getting-started" id="getting-started">
            
            <p>
                    On Behalf of the Faculty, Staff and students, I welcome you to the Biostatistics 
                    (BSTT) Department webpage. At the Biostatistics Department, our vision is to become
                     a center of excellence in the development and application of cutting technologies 
                     and tools in health data management and analysis. As a leader of Health informatics
                      in Sub-Saharan Africa, the Department seeks to create an environment for exploring
                       the possibilities of utilizing information communication technologies and Biostatistics
                        tools to push the frontiers of Public health as we walk into the future of health systems
                        . Whether you are a prospective student , researcher, or potential collaborator, we invite 
                        you to come share this vision with us at the School of Public Health.
                </p>
        </span>
    </div>


<%- include('includes/foot.ejs') %>