<%- include('includes/head.ejs') %>

<div class="notice">
        <p><a href="">2019/2020 Admission Forms</a> are now available! Know more about the requirements for this program? <a href="#">Click here</a></p>
    </div>
 <div class="row">
    <div class="col-sm-4">
    <div class="content">
        <hr class="line-divider" size="240">
        <ul>
            <li><a href="">About US</a></li>
            
                
                
            <li class="lister"><a href="">Welcome Message</a></li>
           
            <li class="lister" id="brief">Brief History</li>
            
            <li class="lister" id="objective">Objective and Vision</li>
            <li class="lister" id="faculty"><a href="Javascript:Void(0);">Faculty</a></li>
            <li class="lister" id="students"><a href="Javascript:Void(0);">Students Life</a></li>
           
        </ul>
    </div>
   
    </div>
    <div class="col-sm-4">
    <div>
            <div class="main-content">
                <h3><b class="mytext">Message from the head of department</b></h3>
            </div>

        <span class="getting-started" id="getting-started">
            
            <p>
                    On Behalf of the Faculty, Staff and students, I welcome you to the Biostatistics 
                    (BSTT) Department webpage. At the Biostatistics Department, our vision is to become
                     a center of excellence in the development and application of cutting technologies 
                     and tools in health data management and analysis. As a leader of Health informatics
                      in Sub-Saharan Africa, the Department seeks to create an environment for exploring
                       the possibilities of utilizing information communication technologies and Biostatistics
                        tools to push the frontiers of Public health as we walk into the future of health systems
                        . Whether you are a prospective student , researcher, or potential collaborator, we invite 
                        you to come share this vision with us at the School of Public Health.
                </p>
        </span>
    </div>
    </div>
</div>


   
       <script>
       $(document).ready(function(){
           var p = document.getElementById('getting-started');
           var text = document.getElementsByClassName('mytext');
           
           $('#brief').on('click', function(){
               p.innerText = 'This is a brief History of the Department';
               text[0].innerText = 'This is a brief History of the Department';
               
           })

         
           $('#objective').on('click', function(){
               p.innerText = 'we display our Objective and vision here';
               text[0].innerText = 'Objectives and Vision';
            //    text[0].style.color = 'red';
               
           })
           

           $('#faculty').on('click', function(){
               p.innerText = 'we display about our faculty here';
               text[0].innerText = 'Faculty';
            //    text[0].style.color = 'red';
        })


        $('#students').on('click', function(){
               p.innerText = 'we display about our faculty here';
               text[0].innerText = 'STUDENTS LIFE';
            //    text[0].style.color = 'red';
        })
       })
       
       </script>
    
       
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    
    </body>