<%- include('includes/head.ejs') %>

<div class="notice">
        <p><a href="">2019/2020 Admission Forms</a> are now available! Know more about the requirements for this program? <a href="#">Click here</a></p>
    </div>
    <div class="row">
    <div class="col-sm-4">
    <div class="content">
        <hr class="line-divider" size="240">
        <ul>
            <li><a href="">NEWS</a></li>
         
        </ul>
    </div>
    </div>
    <div class="col-sm-4">
    <div>
            <div class="main-content">
                    <h3><b class="mytext">NEWS</b></h3>
                </div>
   
        

        
    
    </div>
  </div>
</div>
