<%- include('includes/head.ejs') %>

<div class="notice">
        <p><a href="">2019/2020 Admission Forms</a> are now available! Know more about the requirements for this program? <a href="#">Click here</a></p>
    </div>
    <div class="row">
    <div class="col-sm-4">
    <div class="content">
        <hr class="line-divider" size="240">
        <ul>
            <li><a href=""><b><u>Research Menu</u></b></a></li>
         
            <li class="supervisors" id="supervisor">Supervisors</li> 
            <li class="latest">Latest research</li>
            <li class="funding" id="funding">Funding</li>
            <li class="list" id="collaboration">Collaborations</li>
            <div class="next" style="margin-top: -25px;">
                <ul>
                    <li class="NPC" id="npc">National Population Council</li>
                    <li class="GSS" id="gss">Ghana statistical Service</li>
                    <li class="GHS" id="ghs">Ghana Health Service</li>
                    
                    <li class="IBS" id="ibs">International Biometric Society (IBS)</li>
                    <li class="TEG" id="teg">Tropical Epidemiological Group (TEG) - LSHTM</li>
                </ul>
            </div>
            
            <!-- <li class="lister" id="students"><a href="Javascript:Void(0);">Students Life</a></li> -->
            
           
        </ul>
    </div>
    </div>
    <div class="col-sm-4">
    <div>
            <div class="main-content">
                    <h3><b class="mytext">RESEARCH</b></h3>
                </div>
   
        <span class="getting-started" id="getting-started">
           
        </span>

        
    
    </div>
  </div>
</div>
<%- include('includes/foot.ejs') %>

<script>
        $(document).ready(function(){
            var p = document.getElementById('getting-started');
            var text = document.getElementsByClassName('mytext');

            var supervisors = document.getElementsByClassName('supervisors');
            var latest = document.getElementsByClassName('latest');
            var funding = document.getElementsByClassName('funding');
            var collaboration = document.getElementsByClassName('collaboration');
            var collaborationid = document.getElementById('collaboration');
            var npc = document.getElementsByClassName('NPC');
            var gss = document.getElementsByClassName('GSS');
            var ghs = document.getElementsByClassName('GHS');
            var ibs = document.getElementsByClassName('IBS');
            var teg = document.getElementsByClassName('TEG');
           
            var i;
            for(i = 0; i < supervisors.length; i++){
                supervisors[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'FIND  A SUPERVISOR';

                }
            }
            for(i = 0; i < latest.length; i++){
                latest[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'LATEST RESEARCH';

                }
            }
            
            for(i = 0; i < funding.length; i++){
                funding[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'FUNDING OPTIONS';

                }
            }
            

            $(collaborationid).on('click', function(){
                p.innerText = 'RESEARCH';
                   text[0].innerText = 'COLLABORATIONS';
            })

            for(i = 0; i < collaboration.length; i++){
                collaboration[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'COLLABORATIONS';

                }
            }
            

            for(i = 0; i < npc.length; i++){
                npc[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'NATIONAL POPULATION COUNCIL';

                }
            }

            for(i = 0; i < gss.length; i++){
                gss[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'GHANA STATISTICAL SERVICE';

                }
            }

            for(i = 0; i < ghs.length; i++){
                ghs[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'GHANA HEALTH SERVICE';

                }
            }

            for(i = 0; i < ibs.length; i++){
                ibs[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'INTERNATIONAL BIOMETRIC SOCIETY (IBS)';

                }
            }

            for(i = 0; i < teg.length; i++){
                teg[i].onclick = function(){
                    p.innerText = 'RESEARCH';
                   text[0].innerText = 'TROPICAL EPIDEMIOLOGICAL GROUP (TEG) - LSHTM';

                }
            }

    

        
 
        })
        
        </script>
