body{
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



nav .media{
    margin-left: 15%;
}
 

.media-heading{
    margin-top: 1%;
    color: gray;
  

}

.m-below{
    color: gray;
}

nav ul li a{
text-decoration: none;
color:white;
float: left;
  display: block;
  
  
 
 


}
nav ul{

top:0;
width: 60%;
background-color: red;
}

nav ul{
margin-left: 15%;
cursor: pointer;

}
nav ul li{
    
list-style-type: none;
display: inline-block;
padding: 15px 10px;   
}
nav ul li.search{
margin-left: 10%;
border-radius: 1px solid;

}









  .dropdowner {
    float: left;
    overflow: hidden;
    cursor: pointer;
  }

  

  .dropdowner .dropbtner {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }

  .dropdown-contenter {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  

  .dropdown-contenter a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
  .dropbtner a:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }

  

  .dropbtner:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdowner:hover .dropdown-contenter {
    display: block;
    
  }
  /* Style the links inside the dropdown */
  .dropdown-contenter a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    
  }
  /*banner-text*/
  .banner-text{
    position: absolute;
    left:20%;
    top:-0.5%;
  }

  /*below text*/
  .below-text{
    position: absolute;
    left:20%;
    top:3%;

  }

  .top-list{
    float: left;
    overflow: hidden;
  }

  .top-list:hover .nexter{
      display: block;
  }

  .footer .columns{
      display: inline-block;
      padding: 10px;
      
      
  }

  .footer .columns ul li{
      list-style-type:none;
  }
 .footer .columns ul li a{
   
     text-decoration: none;
    
 }

 .footer{
     position: absolute;
     bottom: 5%;
     left:10%;
 }

 a{
     color: blue;
 }

.footer p a{
    text-decoration: none;
    margin-left: 20%;
}
 .myliner {
    border:none;
    border-top:1px dotted #000;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:100%;
  }

  .bottommyliner{
    border:none;
    border-top:1px dotted #000;
    color:#fff;
    margin-top: 3%;
    background-color:#fff;
    height:1px;
    width:100%;

  }

input[type=search]{

font-size: 17px;
border: 1px solid;
font-family: 'Times New Roman', Times, serif;



}

nav ul li button{
border: 1px solid;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
cursor: pointer;
}
.content{
margin-left: 9%;

}
.content ul li{
display: flex;
opacity: 0.6;
font-size: 17px;
}
.content ul{
margin-left:5%;
margin-top:5%;


}
.content ul li{
padding: 10px;
font-size: 13px;

}
.content ul li a{
color:black;
text-decoration: none;

}
.line-divider{
position: absolute;
opacity: 0.6;
left:15%;
}

.content-right{
display: none;
position: absolute;
right: 15%;
top:28%;
}

.content-right ul li{
display: flex;
opacity: 0.6;
font-size: 17px;
}
.content-right ul{
margin-right:5%;
margin-top:5%;


}
.content-right ul li{
padding: 10px;
font-size: 13px;
color:black;
}
.content-right ul li a{
color:black;
}
.notice p{
padding: 15px;
margin-left: 17%;

}
.notice{
width: 60%;
margin-left: 15%;

margin-top: -16px;

background-color:rgba(211, 211, 211, 0.5);

}
.notice p a{
text-decoration: none;
color: blue;

}

.myimg{
    display: none;
    margin-left: -15%;
}

.dropbtner a{
    color: white;

}
.dropbtner a:hover{
    text-decoration: none;
}

.main-content{
position: absolute;
left:26%;
top:30%;
width:50%;
background-color:rgba(135,206,250,0.4)

}

.getting-started{
position: absolute;
left:26%;
top:45%;
width:50%;
    
}

.footer{
   
    position: absolute;
    left:20%;
    top:75%;
    width:50%;
}


@media only screen and (max-width: 600px) {
  .content{
    display: none;

}



.getting-started{
    top:72%;
    left:21%;

}
.notice{
    margin-top: -9px;

}
.content-right{
    display: none;
}

#getting-started{
display: none;
}




.search{
    margin-left: -20%;

}

.main-content{
    position: relative;
    margin-top: 20%;
    width: 90%;
    margin-left: -15%;
    

}

.notice p{
    margin-left: 1%;
}

.footer{
    top:250%;
}
}

@media only screen and (max-width: 400px) {
  .content{
    display: none;

}



.getting-started{
    top:72%;
    left:21%;

}
.notice{
    display: none;

}
.content-right{
    display: none;
}
.getting-started{
    
    margin-top: 50%;

}

.notice p{
    margin-left: 1%;
}
}

@media screen and (max-width: 768px){
.content{
    display: none;

}



.getting-started{
    top:72%;
    left:21%;

}
.notice{
    margin-top: -9px;

}
.content-right{
    display: none;
}
.main-content{
    top:48%;
    left:20%;

}

.notice p{
    margin-left: 1%;
}
}


@media only screen and (max-width: 1500px){

    .content{
        display: none;
    
    }
    .getting-started{
        top:72%;
        left:21%;
    
    }
    .content-right{
        display: none;
    }
    .main-content{
        top:48%;
        left:20%;
    
    }
    .notice p{
        margin-left: 1%;
    }
    .footer{
        top:100%;
    }
    

}
@media only screen and (max-width: 1200px){
.content{
    display: none;

}
.getting-started{
    top:72%;
    left:21%;

}
.content-right{
    display: none;
}
.main-content{
    top:48%;
    left:20%;

}
.notice p{
    margin-left: 1%;
}

.footer{
    top:150%;
}
}


.main-content .download-notice .head{
margin-left:10%;
}
.main-content .download-notice .below{
margin-left:20%;
}


.next{
 display: none;
}

.fa-angle-down{

 cursor: pointer;
 margin-left:3px;
 font-size:16px;
 font-weight: bold;
}

.fa-angle-up{
cursor: pointer;
 margin-left:3px;
 font-size:16px;
 font-weight: bold;

 
}

.next{
 margin-left: 2%;
}
